# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Kibot
kibot_errors.filter
*-drc.txt

# Freerouting
freerouting/freerouting-*.jar
freerouting/freerouting.log

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.kicad_pro
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.pro
logs

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
!log4j2.xml
*.csv

# MacOS
.DS_Store

# ergogen
ergogen/output/outlines/_*.*
ergogen/output/pcbs/_*.*
ergogen/output/outlines/*.yaml
ergogen/output/points
ergogen/output/source

# npm
node_modules

# gerbers
ergogen/output/gerbers/*/*
!ergogen/output/gerbers/*/*.zip